[Telegram]
TELE_BOT_ID: {Your Telegram Bot ID here}

[Google]
GCSE_APP_ID: {Your Google Api Key here}
GCSE_SE_ID: {Your Google Custom Search Engine ID here}
GCSE_XSE_ID: {Your x-rated Google Custom Search Engine ID here}

[Soundcloud]
SC_CLIENT_ID: {Your Soundcloud Api Key here}

[HeyBoet]
ADMIN_COMMAND_KEY: {Some key for running powerful admin commands}

[Wolfram]
WOLF_APP_ID: {Your Wolfram developer API key here}